# OpenAI API Key (본인의 API Key를 여기에 입력하세요)
OPENAI_API_KEY="sk-proj-YOUR_OPENAI_API_KEY_HERE"

# 사용할 LLM 모델 설정
LLM_AI_MODEL="gpt-4o-mini"

# LangSmith 트레이싱 설정 (선택 사항, 모니터링을 원치 않으면 false로 변경)
LANGSMITH_TRACING=false
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="lsv2_pt_YOUR_LANGSMITH_API_KEY_HERE"
LANGSMITH_PROJECT="MyApp"
